* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-image: url(./../assets/bg1.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-size: 1950px 1000px;
    background-attachment: fixed;
    background-color: blueviolet;
}

.header {
    margin: 10px auto;
    width: 400px;
    height: 200px;
    text-align: center;
    background-image: url(./../assets/sign.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 400px 150px;
    background-color: transparent;

}

img {
    margin-top: 118px;
    margin-bottom: 40px;
}

body {
    margin: 0px auto;
    padding: 5px;
    max-width: 900px;
    width: 1000px;
    height: 1900px;
    text-align: center;
    background-image: url(./../assets/ancient-scroll-png-transparent.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 900px 2000px;
    background-attachment:scroll;
    background-color: transparent;
}


.key {
    position: absolute;
    left: 200px;
    border-style: inset;
    border-width: 13px;
    border-color: rgba(15, 75, 8, 0.8);
    margin: 0 auto;
    max-height: 100px;
    width: 300px;
    height: 300px;
    background-color: rgb(254, 210, 98);
    overflow: scroll;
    text-align: left;
}

.list {
    border-style: inset;
    border-width: 23px;
    border-color: rgba(15, 75, 8, 0.8);
    margin: 0 auto;
    max-height: 800px;
    width: 500px;
    height: 800px;
    background-color: rgb(254, 210, 98);
    overflow: scroll;
}
 
th, td {
    border-style: groove;
    border-color: red;
}
a span {
    color: black;
    
}

#button1 , #button2 {
    display: inline-block;
    position: relative;
}

.button {
    text-decoration: none;
    background-color: rgba(255, 136, 0, 0.7);
    border-style: outset;
    border-color: rgb(99, 9, 9);
    font-family: cursive;
    position: absolute;
    top: 1150px;
    left: 880px;
    display: inline-block;
}
.buttono {
    text-decoration: none;
    background-color: rgba(255, 136, 0, 0.7);
    border-style: outset;
    border-color: rgb(99, 9, 9);
    font-family: cursive;
    position: absolute;
    top: 1150px;
    left: 800px;
    display: inline-block;
}

.button:hover {
    background-color: rgba(189, 255, 191, 0.8);
}
.buttono:hover {
    background-color: rgba(189, 255, 191, 0.8);
}